body {
  width: 100%;
  max-width: 786px;
  margin: 32px auto 0px auto;

  background-color: lightgrey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

p {
  padding: 0px 20px 0px 20px;
}

ul {
  padding: 0px;
}


li {
  margin: 10px;
  padding: 1px 10% 1px 10%;
  border-radius: 10px;
  background-color: hsl(200deg, 8%, 70%);
  list-style: none;
}

pre {
  margin: 0px auto 0px auto;
  padding: 4px;
  border-radius: 4px;
  line-height: 1.0;
  max-width: 300px;
  text-align: left;
  background-color: hsl(200deg, 8%, 70%);
}

hr {
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: solid;
  border-radius: 45px;
}

footer {
  margin : 32px 0px 10px 0px;
  font-size: 10pt;
}